html *
{
   font-size: 2rem;
   font-family: sans-serif 
}

button{
  background-color: white;
  color: black
}

button:hover{
  border-color: lightgray;
  cursor: pointer;
}


body{
  display: flex;
  /* background-color: lightgrey;; */
  justify-content: center;
  background: url(/images/background.png);
}

#app{
  display: flex;
    width: 90%;
    border-radius: 2rem;
    border-style: solid;
    justify-content: center;
    background-color: white;
    min-height: 100vh;
}

.main{
  min-width: 90%;
}

.form-container{
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin-bottom: 0.25rem;
  width: 100%
}

form{
  width: 100%
}

.item-input{
  width: 80%;
}

.page-container{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  background-color: white
}

.list-container{
  width: 100%;
}

.item-box{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.list-item{
  display: flex;
  justify-content: center;
  border-bottom-style: solid;
  justify-content: space-between;
  padding: 1rem;
  border-style: solid;
  margin-bottom: 0.25rem;
  align-items: center;
  width: 90%;
  margin-right: 1rem
}

.item-input{
  height: 3rem;
  font-size:2rem;
}

.item-name{
  font-size: 2rem;
}

.heading{
  font-size: 5rem;
};


@media screen and (max-width: 1200px) {
 
  .item-input{
    height: 5rem;
  }

  #app{
    min-width: 90%;
  }
}
