body{
  display: flex;
  height: 100vh;
  background: url(/images/background.png);
  justify-content: center;
 
}

.page-container{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.main{
  width: 90%;
  background-color: lightgrey;
}

.list-item{
  display: flex;
  justify-content: center;
  border-bottom-style: solid;
}

