html *
{
   font-size: 2rem !important;
   color: #000 !important;
   font-family: Arial !important;
}

body{
  display: flex;
  /* background-color: lightgrey;; */
  justify-content: center;
  background: url(/images/background.png);
}

#app{
  display: flex;
    width: 70%;
    border-radius: 2rem;
    border-style: solid;
    justify-content: center;
    background-color: white;
    min-height: 100vh;
}

.main{
  min-width: 90%;
}

.form-container{
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin-bottom: 0.25rem;
}
.page-container{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  background-color: white
}

.list-container{
  width: 100%;
}

.list-item{
  display: flex;
  justify-content: center;
  border-bottom-style: solid;
  justify-content: space-between;
  padding: 1rem;
  border-style: solid;
  margin-bottom: 0.25rem;
  align-items: center;
}

.item-input{
  height: 3rem;
  font-size:2rem;
}

.item-name{
  font-size: 2rem;
}

@media screen and (max-width: 1200px) {
  html *
{
   font-size: 3rem !important;
   color: #000 !important;
   font-family: Arial !important;
}
  .item-input{
    height: 5rem;
  }

  #app{
    min-width: 90%;
  }
}
